<script type="text/ng-template" id="search-tooltip.html">
  <div class="panel" style="background-color: {{color}}">
      <div class="panel-heading">
        <h3 class="panel-title"> {{total | number:0}}</h3>
      </div>
  </div>
</script>
<div class="col-md-12">
    <div class="col-md-3">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input  type="text"
            class="form-control"
            placeholder="search reddit submissions"
            aria-describedby="basic-addon1"
            ng-model="ws.query">
            <span class="input-group-btn">
                <button class="btn btn-default"
                    type="button"
                    ng-click="ws.search()">search</button>
            </span>
        </div>
        <div class="btn-group btn-group-justified top-buffer">
            <a  id="wordsearch-score"
                class="btn btn-default"
            ng-click="ws.selectVizType('score')">Score</a>
            <a  id="wordsearch-frequency"
                class="btn btn-default"
            ng-click="ws.selectVizType('frequency')">Frequency</a>
            <a  id="wordsearch-sentiment"
                class="btn btn-default"
                ng-click="ws.selectVizType('sentiment')"
            >Sentiment</a>
        </div>
        <div class="dropdown top-buffer">
            <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Colleges
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="college in ws.vm.colleges"
                    class="btn-block"
                    ng-click="ws.select(college)">
                    <span><input type="checkbox">{{college.name}}</span>
                </li>
            </ul>
        </div>
        <ul class="list-group top-buffer">
            <li ng-repeat="college in ws.vm.selected"
                class="list-group-item"
                style="background-color: {{college.color}}">
                {{college.name}}
            </li>
        </ul>
    </div>
    <div    id="search-viz"
            class="col-md-9 box">
    </div>
</div>