<div class="col-md-12">
    <div class="col-md-3">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="search reddit submissions" aria-describedby="basic-addon1">
        </div>
        <div class="btn-group btn-group-justified top-buffer">
            <a  ui-sref-active="btn-primary"
                ui-sref="main.wordsearch({vizType: 'score'})"
                class="btn btn-default">Score</a>
            <a  ui-sref-active="btn-primary"
                class="btn btn-default"
                ui-sref="main.wordsearch({vizType: 'frequency'})">Frequency</a>
            <a  ui-sref-active="btn-primary"
                class="btn btn-default"
                ui-sref="main.wordsearch({vizType: 'sentiment'})">Sentiment</a>
        </div>
        <div class="dropdown top-buffer">
            <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Colleges
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li ng-repeat="college in ws.vm.colleges"
                    class="btn-block"
                    ng-click="ws.select(college)">
                    <span><input type="checkbox">{{college.name}}</span>
                </li>
            </ul>
        </div>
        <ul class="list-group top-buffer">
            <li ng-repeat="college in ws.vm.selected"
                class="list-group-item"
                style="background-color: {{college.color}}">
                {{college.name}}
            </li>
        </ul>
    </div>
    <div class="col-md-9">
    </div>
</div>