.sidebar-container {
    margin: 0px;
    padding:0px 0px 0px 10px;
    height: 100vh;
    border-right:3px solid black;
    width: 70px;
}

.sidebar-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.buffer {
    margin: 0px 15px 0px 15px;
}

.navbar-nav > li > .dropdown-menu {
    width: 250px;
    padding: 3px;
}

.margin-small {
    margin: 5px;
}