.sidebar-container {
    margin: 0px;
    padding:0px 0px 0px 10px;
    height: 100vh;
    border-right:3px solid black;
    width: 70px;
}

.sidebar-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.buffer {
    margin: 0px 15px 0px 15px;
}

.navbar-nav > li > .dropdown-menu {
    width: 250px;
    padding: 3px;
}

.margin-small {
    margin: 5px;
}

.axis path,
.axis line {
    font-family: Lato;
    font-size: 13px;
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.x.axis path {
  display: none;
}

.area {
    /*opacity: 0.25;*/
}

.no-border-radius {
    border-radius: 0px;
}

.panel-body > a {
    display: inline-block;
    margin: 2px;
}

.zero {
    margin: 0px;
}

.progress {
    margin-bottom: 10px;
}
