<div>
    <!-- Start Navbar -->
    <nav class="navbar navbar-default no-border-radius">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home()"><span class="text-warning"> George </span></a>
                <a class="navbar-brand" ui-sref="dashboard.summary({college: dashboard.vm.college})">{{dashboard.vm.college}}</a>
                <a ng-if="dashboard.vm.keyword"class="navbar-brand">
                    <span class="text-primary">{{dashboard.vm.keyword}}</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="dashboard.wordsearchview({college: dashboard.vm.college})" ui-sref-active="active">Word Search</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view></div>
</div>