<div class="col-md-12">
    <!--  -->
	<div class="row">
		<div class="jumbotron">
            <h1 class="text-center">George</h1>
            <p class="text-center">college reddit dashboard</p>
            <p class="text-center"><a class="btn btn-primary btn-lg">Try it out</a></p>
        </div>
	</div>
    <!--  -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h3 class="text-center">Colleges</h3>
            </div>
            <div>
                <div ng-repeat="college in home.colleges" class="col-md-4">
                    <a ui-sref="dashboard.summary({college: college})" class="invert-on-hover">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                {{college}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h3 class="text-center">About</h3>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p> George is a research project based in Georgia Institute of Technology’s GVU Center. The focus of our team is to study social media on college campuses. We look at the online communities of college Subreddits and employ a variety of data visualization techniques to better understand their behavior. Contributors to this project include: Amy Bruckman, Faisal Animashaun, Haidar Jamal, Ryan Trad, Shaziya Tambawala, Michaelanne Dye, and Chad Stolper.</p>
            </div>
        </div>
    </div>
</div>