{% extends "base.html" %}
{% block content %}
    <style>
        .selection {
            border: 3px solid #2196f3;
        }
    </style>
    <div class="col-md-4 col-md-offset-4">
        <div class="page-header">
            <h1 class="text-center">{{sample.title}} <small>{{sample.subreddit}}</small></h1>

        </div>
        <p>{{ sample.content}}</p>


        <div class="page-header">
            <h5 class="text-center"> Should this post be flagged for review ?</h5>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-success {{'selection' if sample.label == True else ''}}"
                href="{{ url_for('label.label', r_id=sample.r_id, label=True)}}">yes</a>

            <a class="btn btn-danger {{'selection' if sample.label == False else ''}}"
                href="{{ url_for('label.label', r_id=sample.r_id, label=False)}}">no</a>
        </div>
    </div>
{% endblock %}